<h1> <%= @flat.name %> </h1>
<div class="details">
    <h2> Details </h2>
    <p> <strong> Address </strong>: <%= @flat.address %> </p>
    <p> <strong> Price per Night </strong>: <%= @flat.price_per_night %> </p>
    <p> <strong> Number of Guests </strong> : <%= @flat.number_of_guests %> </p>
  </div>
